$color-primary:#fff;

$color-grey-light:#f7f7f7;
$color-grey-light-1:rgba(190, 184, 184, 0.144);

$color-test-1:rgba(196, 199, 197, 0.829);
$color-test-2:rgba(0, 0, 0, 0.473);


$color-test-3:rgba(74, 144, 223, 0.856);
$color-test-4:rgba(74, 144, 223, 0.514);

$color-test-5:rgba(102, 30, 30, 0.651);
$color-test-6:rgba(102, 30, 30, 0.733);
//1-2 for 1st,,,,, 2-3 for 2nd,,,,,,, 4 and primary for last

//Grid
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;