* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 2rem;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  80% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  80% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 1rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 4px;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(110, 114, 112, 0.336)), to(rgba(0, 8, 6, 0.906)));
  background-image: linear-gradient(to right, rgba(110, 114, 112, 0.336), rgba(0, 8, 6, 0.906));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.heading-secondary:hover {
  -webkit-transform: skewY(3deg) skewX(15deg) scale(1.1);
          transform: skewY(3deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 8, 6, 0.5);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-huge {
  margin-top: 10rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-left {
  margin-left: 20rem;
}

.u-margin-left-small {
  margin-left: 14rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  position: relative;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-animation-name: moveInBottom;
          animation-name: moveInBottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 10px 20px rgba(143, 139, 141, 0.336);
          box-shadow: 0 10px 20px rgba(143, 139, 141, 0.336);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn-white::after {
  background-color: #fff;
}

.btn--green {
  background-color: #3C3B3F;
  color: white;
}

.btn--green::after {
  background-color: #3C3B3F;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn-animated {
  -webkit-animation: moveFromBottom 0.5s ease-out 0.75s;
          animation: moveFromBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-form {
  font-family: inherit;
  color: #fff;
  text-transform: uppercase;
  padding: 1.75rem 3.5rem;
  border: none;
  border-radius: 10rem;
  letter-spacing: 0.12rem;
  background-color: rgba(102, 30, 30, 0.651);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-form:hover {
  -webkit-box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.9);
          box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.9);
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #000;
  color: #fff;
  -webkit-box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:active {
  -webkit-box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.mod-btn {
  color: black;
  height: 5rem;
  font-size: 5rem;
  font-weight: bolder;
  position: absolute;
  right: 1%;
  top: 0%;
}

.compostion {
  position: relative;
}

.compostion__photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  -webkit-transition: all .2s;
  transition: all .2s;
  outline-offset: 2rem;
}

.compostion__photo--p1 {
  left: 0;
  top: -2rem;
}

.compostion__photo--p2 {
  right: 0;
  top: 2rem;
}

.compostion__photo--p3 {
  height: 25.7rem;
  left: 10%;
  top: 16rem;
}

.compostion__photo:hover {
  outline: 1.5rem solid black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.7);
  z-index: 20;
}

.compostion:hover .compostion__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transition .3s;
  transition: -webkit-transition .3s;
  transition: transition .3s;
  transition: transition .3s, -webkit-transition .3s;
}

.feature-box__icon {
  color: black;
  font-size: 6rem;
  margin-bottom: .5rem;
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
}

.feature-box .tr {
  height: 5.3rem;
  margin-bottom: 0.47rem;
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}

.card__side {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  height: 50rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.card__side--image1 {
  background-blend-mode: screen;
  background-size: cover;
  height: 40rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(196, 199, 197, 0.829)), to(rgba(102, 30, 30, 0.651))), url("https://images.unsplash.com/photo-1623874228601-f4193c7b1818?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZHVtYmJlbGxzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-image: linear-gradient(to right bottom, rgba(196, 199, 197, 0.829), rgba(102, 30, 30, 0.651)), url("https://images.unsplash.com/photo-1623874228601-f4193c7b1818?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZHVtYmJlbGxzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 300px, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 300px, 0 100%);
}

.card__side--image2 {
  background-blend-mode: screen;
  background-size: cover;
  height: 40rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(102, 30, 30, 0.651)), to(rgba(74, 144, 223, 0.856))), url("https://images.unsplash.com/photo-1547919307-1ecb10702e6f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fHdlaWdodHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-image: linear-gradient(to right bottom, rgba(102, 30, 30, 0.651), rgba(74, 144, 223, 0.856)), url("https://images.unsplash.com/photo-1547919307-1ecb10702e6f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fHdlaWdodHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 300px, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 300px, 0 100%);
}

.card__side--image3 {
  background-blend-mode: screen;
  background-size: cover;
  height: 40rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(74, 144, 223, 0.856)), to(rgba(255, 255, 255, 0.582))), url("https://images.unsplash.com/photo-1590487988357-5233b152a9b7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjV8fGd5bXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
  background-image: linear-gradient(to right bottom, rgba(74, 144, 223, 0.856), rgba(255, 255, 255, 0.582)), url("https://images.unsplash.com/photo-1590487988357-5233b152a9b7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjV8fGd5bXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 300px, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 300px, 0 100%);
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(196, 199, 197, 0.829)), to(rgba(102, 30, 30, 0.651)));
  background-image: linear-gradient(to right bottom, rgba(196, 199, 197, 0.829), rgba(102, 30, 30, 0.651));
}

.card__side--back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(102, 30, 30, 0.651)), to(rgba(74, 144, 223, 0.856)));
  background-image: linear-gradient(to right bottom, rgba(102, 30, 30, 0.651), rgba(74, 144, 223, 0.856));
}

.card__side--back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(74, 144, 223, 0.856)), to(#fff));
  background-image: linear-gradient(to right bottom, rgba(74, 144, 223, 0.856), #fff);
}

.card__side--front {
  background-color: rgba(190, 184, 184, 0.144);
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 38rem;
  left: 8.5rem;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-brea: clone;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(196, 199, 197, 0.829)), to(rgba(102, 30, 30, 0.651)));
  background-image: linear-gradient(to right bottom, rgba(196, 199, 197, 0.829), rgba(102, 30, 30, 0.651));
}

.card__heading-span--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(102, 30, 30, 0.651)), to(rgba(74, 144, 223, 0.856)));
  background-image: linear-gradient(to right bottom, rgba(102, 30, 30, 0.651), rgba(74, 144, 223, 0.856));
}

.card__heading-span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(74, 144, 223, 0.856)), to(rgba(255, 255, 255, 0.582)));
  background-image: linear-gradient(to right bottom, rgba(74, 144, 223, 0.856), rgba(255, 255, 255, 0.582));
  padding: 1rem 2rem;
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.story {
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
}

.story__shape {
  width: 15rem;
  height: 15rem;
  background-color: rosybrown;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-transform: translateX(-3rem) skewX(12deg);
          transform: translateX(-3rem) skewX(12deg);
  position: relative;
}

.story__img {
  height: 100%;
  width: 100%;
}

.story__text {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.story:hover .story__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bg-video {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
  position: relative;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid black;
  width: 90%;
  display: block;
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(190, 184, 184, 0.144);
}

.form__input:focus:invalid {
  border-bottom: 3px solid rgba(102, 30, 30, 0.651);
}

.form__input::-webkit-input-placeholder {
  color: rgba(102, 30, 30, 0.651);
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  -webkit-transform: all .3s;
          transform: all .3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.form__radio-group {
  width: 32%;
  display: inline-block;
}

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 2.5rem;
}

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid rgba(102, 30, 30, 0.651);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -24%;
  left: -30%;
}

.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(102, 30, 30, 0.651);
  opacity: 0;
  -webkit-transition: opacity 0.2;
  transition: opacity 0.2;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.form__radio-input {
  display: none;
}

.form__group .btn-form {
  position: absolute;
  top: 75%;
  left: 18%;
}

.pricing_pannel {
  height: 90vh;
  width: 88vw;
  background-color: rgba(240, 240, 245, 0.959);
  position: absolute;
  top: 32rem;
  left: 4.8rem;
}

.pricing_pannel .payment {
  margin-top: 4.5rem;
  margin-left: 34.5%;
}

.pricing_pannel__self {
  width: 45vw;
}

.pricing_pannel .cost {
  width: 20%;
  height: 30%;
  margin-left: 17rem;
}

.pricing_pannel .cost_price {
  text-align: center;
  padding: 2rem 0;
  font-size: 5rem;
  color: blue;
}

.pricing_pannel .duration {
  margin-top: 0.7rem;
}

.pricing_pannel .duration .self {
  margin-left: 0.8rem;
  font-size: 1.6rem;
  color: black;
}

.pricing_pannel .duration #plan {
  margin-left: 1rem;
}

.pricing_pannel .benefits {
  margin-left: 3rem;
}

.pricing_pannel .benefits__self__list {
  list-style: square;
  color: black;
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 3rem;
  font-weight: bolder;
}

.pricing_pannel__complete {
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  top: 0%;
  left: 55%;
}

.pricing_pannel__complete .benefits__complete__list {
  list-style: square;
  color: black;
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 3rem;
  font-weight: bolder;
}

.pricing_pannel__complete .cost__complete {
  width: 20%;
  height: 30%;
  margin-left: 17rem;
}

.pricing_pannel__complete .cost__complete_price {
  text-align: center;
  padding: 2rem 0;
  font-size: 5rem;
  color: blue;
}

.pricing_pannel__complete .duration__complete {
  margin-top: 0.7rem;
}

.pricing_pannel__complete .duration__complete .complete {
  font-size: 1.6rem;
  color: black;
}

.pricing_pannel__complete .duration__complete #plan__complete {
  margin-left: 1rem;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 5;
}

.header {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 8, 6, 0.849)), to(rgba(110, 114, 112, 0.336))), url("https://source.unsplash.com/1600x900/?gym") no-repeat center center/cover;
  background: linear-gradient(to right bottom, rgba(0, 8, 6, 0.849), rgba(110, 114, 112, 0.336)), url("https://source.unsplash.com/1600x900/?gym") no-repeat center center/cover;
  height: 97vh;
  position: relative;
  /* background-size: cover; */
  /* background-position: top; */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  /* clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); */
}

.logo-box {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
}

.logo {
  height: 9rem;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem)/2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * (6rem))/3);
}

.row .col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.footer {
  background-color: #333;
  padding: 8rem 0;
  font-size: 1.4rem;
}

.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}

.footer__logo {
  width: 15rem;
  height: auto;
}

.footer__navigation {
  border-top: 1px solid #f7f7f7;
  padding: 2rem;
  display: inline-block;
}

.footer__List {
  list-style: none;
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}

.footer__link:link, .footer__link:visited {
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer__link:hover, .footer__link:active {
  color: #f7f7f7;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(5deg) scale(1.3);
          transform: rotate(5deg) scale(1.3);
}

.footer__copyright {
  border-top: 1px solid #f7f7f7;
  padding-top: 2rem;
  width: 80%;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background: #232526;
  background: radial-gradient(#414345, #232526);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0%;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  list-style: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1rem;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #232526;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 3.3rem;
  margin-left: 1.9rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #232526;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0%;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-feature {
  padding: 20rem 0;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 8, 6, 0.849)), to(rgba(110, 114, 112, 0.336))), url("https://images.unsplash.com/photo-1596357395217-80de13130e92?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80") no-repeat center center/cover;
  background: linear-gradient(to right bottom, rgba(0, 8, 6, 0.849), rgba(110, 114, 112, 0.336)), url("https://images.unsplash.com/photo-1596357395217-80de13130e92?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80") no-repeat center center/cover;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  margin-top: -10rem;
}

.section-feature > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
  background-color: rgba(190, 184, 184, 0.144);
}

.section-book {
  padding: 15rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 8, 6, 0.849)), to(rgba(110, 114, 112, 0.336)));
  background-image: linear-gradient(to right bottom, rgba(0, 8, 6, 0.849), rgba(110, 114, 112, 0.336));
  position: relative;
}

.book {
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("https://images.unsplash.com/photo-1580086319619-3ed498161c77?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-size: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 70rem;
}

.book__form {
  width: 50%;
  padding: 6rem;
}

.payment-boundary {
  border: 1px solid black;
  margin-left: 4rem;
  max-width: 114rem;
  height: 50rem;
  position: relative;
}

.payment-welcome {
  margin-left: 23rem;
}

.section-details {
  position: absolute;
  top: 12%;
  left: 0%;
  height: 50rem;
  width: 114rem;
  background: linear-gradient(100deg, rgba(255, 255, 255, 0.92) 0%, rgba(255, 255, 255, 0.92) 50%, transparent 50%), url("https://cdn.pixabay.com/photo/2013/12/17/13/57/cheque-guarantee-card-229830__480.jpg");
  background-size: 100%;
}

.applicant-details {
  margin-left: 7rem;
  margin-top: 3rem;
}

.common {
  line-height: 4rem;
  font-size: 3rem;
}

.upi {
  margin-top: 5rem;
}

.mode {
  margin-left: 2rem;
  border: 3px solid black;
  width: 43%;
  margin-bottom: 2rem;
  padding: 0.5rem;
  color: #14144d;
  font-weight: bold;
}

.btn-join {
  width: 15%;
  height: 3rem;
  margin-left: 15rem;
  font-family: inherit;
  color: #fff;
  text-transform: uppercase;
  padding-left: 4.1rem;
  padding-top: 0.5rem;
  border: none;
  border-radius: 10rem;
  letter-spacing: 0.12rem;
  background-color: #14144d;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-join:hover {
  -webkit-box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.9);
          box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.9);
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.upi:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(74, 144, 223, 0.856)), to(rgba(255, 255, 255, 0.582)));
  background: linear-gradient(to right bottom, rgba(74, 144, 223, 0.856), rgba(255, 255, 255, 0.582));
}

.cards:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(74, 144, 223, 0.856)), to(rgba(255, 255, 255, 0.582)));
  background: linear-gradient(to right bottom, rgba(74, 144, 223, 0.856), rgba(255, 255, 255, 0.582));
}

.netbanking:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(74, 144, 223, 0.856)), to(rgba(255, 255, 255, 0.582)));
  background: linear-gradient(to right bottom, rgba(74, 144, 223, 0.856), rgba(255, 255, 255, 0.582));
}
/*# sourceMappingURL=main.css.map */